#header{width: 100%;}

#header > nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#header > nav > ul > li{
    margin: 0 20px 0 0;
    padding:0;
    display: inline;
}
#footer{
    position: absolute;  bottom: 0;
    left:0;
    height: 60px;
    display: block;
    text-align: center;
    width: 100%;
}
#BODY{
    text-align:center;
}
#TABLE{
    text-align:left;
    margin: auto;
    float:left;
}
#DIV_FORM{
    margin-left:300px;
}
#TABLE2{
    text-align:left;
    width:150px;
    height:150px;
}
#TABLE2 tr
{
    height:24px;
}
#TABLE2 span{
    display:none;
}

ol{
    list-style: none;
    padding: 0;
    margin: 2px;
}
ol li{
    margin: 0 0 9px 0;
    padding: 0;
}
input{
    display: block;
}
/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
