@(messaage: String)(implicit form: Form[controllers.LoginController.registerClass])


@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

        <div class="w3-display-middle w3-text-white w3-center">
        @helper.form(action = routes.LoginController.submit2){
            @helper.inputText(
                form("username"),
                '_label -> "Username:",
                'class -> "w3-bar-item"
            )
            @helper.inputPassword(
                form("passwd"),
                '_label -> "Password:",
                'class -> "w3-bar-item"
            )
            @helper.inputText(
                form("email"),
                '_label -> "Email:",
                'class -> "w3-bar-item"
            )
            @helper.inputText(
                form("area"),
                '_label -> "area:",
                'class -> "w3-bar-item"
            )
            <button type="submit" class="w3-button">提交</button>
        }
        </div>

</html>