@(message: String, style: String = "scala")

@{message match{
    case "loginS" => Html("<script language=\"javascript\"> alert(\"登陆成功\") </script>")
    case _ => Html("")
} }

    <div class="w3-display-middle w3-text-white w3-center">
        <h1 class="w3-jumbo">PM2.5 监控与预测平台</h1>
        <h2>By wangyuwei</h2>
        <h2><b>17.06.2017</b></h2>
    </div>

